@font-face {
  font-family: 'Chilanka';
  font-weight: 400;
  font-style: normal;
  src: url('~/static/fonts/Chilanka-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Jua';
  font-weight: 400;
  font-style: normal;
  src: url('~/static/fonts/Jua-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Satoshi';
  font-weight: 400;
  src: url('~/static/fonts/Satoshi-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Chakra Petch';
  font-weight: 400;
  src: url('~/static/fonts/ChakraPetch-Regular.ttf')
}

@font-face {
  font-family: 'Chakra Petch';
  font-weight: 300;
  src: url('~/static/fonts/ChakraPetch-Light.ttf')
}

body {
  font-family: 'Jua', sans-serif;
  background-image: url('~/static/papyrus.png');
}

.foreground {
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.25));
  background: #F2F2F2;
  border: 1px solid #000000;
  border-radius: 30px;
}

.button {
  background: #FFF;
  border: 2px solid #000000;
  border-radius: 10px;
  font-family: 'Chilanka';
  filter: drop-shadow(0px 5px 0px rgba(0, 0, 0, 0.25));
}

.button:hover {
  cursor: pointer;
  filter: none;
}
.index {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}
