svg {
  enable-background: new 0 0 1000px 1000px;
  fill: #E3DFFF;
}

.twitter {
  clip-rule: evenodd;
  fill-rule: evennodd;
  enable-background: new 0 0 512px 512px,
}

.email {
  transform: scale(75%);
}

.github {
  transform: scale(150%);
}
