:root {
  --bg: #0A2E36;
  --fg: #FCFFFC;
  --primary: #2BA84A;
  --secondary: #248232; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  font-family: 'Azeret Mono', monospace;
  color: var(--fg);
  background-color: var(--bg);

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  place-items: center;

  min-width: 320px;
  min-height: 100vh;

  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#app {
  padding: 0;
  margin: 0;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  padding-top: 0;
  margin-top: 0;
  white-space: pre;
}

@media (min-width: 320px) {
  body {
    font-size: 0.9em;
  }
}

@media (max-width: 370px) {
  body {
    font-weight: bold;
  }
}

@media (min-width: 425px) {
  body {
    font-size: 1.1em;
  }
}

@media (min-width: 768px) {  
  body {
    font-size: 2em;
  }
}
